// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <125>;

#define COMBO_TERM_FAST 40
#define COMBO_TERM_SLOW 40

// make homerow combos tap-only (so HRMs can be chorded instantaneously)
#define HRC_ESC    &hml         LA(LGUI) ESC
#define HRC_RET    &hml         LS(LGUI) RET
#define HRC_RBRC   &hmr         LS(LGUI) RBRC

// ZMK_COMBO(rcmd_f, &rcmd2 F, LH1 LT2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_s, &rcmd2 S, LH1 LM2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_o, &rcmd O, LH1 RM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_t, &rcmd T, LH1 LM1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_p, &rcmd P, LH1 LT1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_k, &rcmd K, LH1 RB0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_a, &rcmd A, LH1 LM4, ALL, COMBO_TERM_FAST)
//
// // ZMK_COMBO(rcmd_q, &rcmd Q, LH1 LT4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_w, &rcmd W, LH1 LT3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_f, &rcmd F, LH1 LT2, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_p, &rcmd P, LH1 LT1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_b, &rcmd B, LH1 LT0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_j, &rcmd J, LH1 RT0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_l, &rcmd L, LH1 RT1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_u, &rcmd U, LH1 RT2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_y, &rcmd Y, LH1 RT3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_a, &rcmd A, LH1 LM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_r, &rcmd R, LH1 LM3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_s, &rcmd S, LH1 LM2, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_t, &rcmd T, LH1 LM1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_g, &rcmd G, LH1 LM0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_m, &rcmd M, LH1 RM0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_n, &rcmd N, LH1 RM1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_e, &rcmd E, LH1 RM2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_i, &rcmd I, LH1 RM3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_o, &rcmd O, LH1 RM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_z, &rcmd Z, LH1 LB4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_x, &rcmd X, LH1 LB3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_c, &rcmd C, LH1 LB2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_d, &rcmd D, LH1 LB1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_v, &rcmd V, LH1 LB0, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_k, &rcmd K, LH1 RB0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_h, &rcmd H, LH1 RB1, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// thumbs
// ****************************************************************************
// ********************************************************
// left thumb horizontal
// ********************************************************
ZMK_COMBO(hammer_vim, &kp LA(LG(ESC)), LH1 LH2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(homerow, &kp LA(LC(LS(R))), LH0 LH1, ALL, COMBO_TERM_FAST)

// ********************************************************
// right thumb horizontal
// ********************************************************
ZMK_COMBO(raycast, &kp LA(SPACE), RH0 RH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(mo_fun, &mo FUN, RH1 RH2, ALL, COMBO_TERM_FAST)

// ********************************************************
// left thumb vertical
// ********************************************************
ZMK_COMBO(homerow_scroll, &kp LG(LA(LC(LS(SLASH)))), LH2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(homerow_search, &kp LA(LC(LS(SLASH))), LH1 LB0, ALL, COMBO_TERM_FAST)

// ********************************************************
// right thumb vertical
// ********************************************************
// ZMK_COMBO(homerow_search, &kp LA(LC(LS(SLASH))), RH1 RB0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(homerow_scroll, &kp LG(LA(LC(LS(SLASH)))), RH2 RB1, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// single finger combos: all symbols not on base row except paired symbols
// ****************************************************************************
// ********************************************************
// left vertical middle + bottom rows: left number row symbols
// ********************************************************
// ZMK_COMBO(excl,  &kp EXCL,      LB4 LM4,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(at,    &kp AT,        LB3 LM3,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hash,  &kp HASH,      LB2 LM2,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(dllr,  &kp DLLR,      LB1 LM1,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(prcnt, &kp PRCNT,     LB0 LM0,     ALL, COMBO_TERM_SLOW)

// ********************************************************
// right vertical middle + bottom rows: right number row symbols
// ********************************************************
ZMK_COMBO(caret, &kp CARET,     RB0 RM0,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(amps,  &kp AMPS,      RB1 RM1,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(star,  &kp STAR,      RB2 RM2,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(star,  &kp STAR,      RB3 RM3,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(star,  &kp STAR,      RB4 RM4,     ALL, COMBO_TERM_SLOW)

// ********************************************************
// left vertical middle + top rows: other symbols
// ********************************************************
// ZMK_COMBO(tilde, &kp TILDE,     LM4 LT4,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(tilde, &kp TILDE,     LM3 LT3,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(grave, &kp GRAVE,     LM2 LT2,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(bslh,  &kp BSLH,      LM1 LT1,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(pipe,  &kp PIPE,      LM0 LT0,     ALL, COMBO_TERM_SLOW)

// ********************************************************
// right vertical middle + top rows: other symbols
// ********************************************************
ZMK_COMBO(under, &kp UNDER,     RM0 RT0,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(minus, &kp MINUS,     RM1 RT1,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(equal, &kp EQUAL,     RM2 RT2,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(plus,  &kp PLUS,      RM3 RT3,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(plus,  &kp PLUS,      RM4 RT4,     ALL, COMBO_TERM_SLOW)

// ********************************************************
// left horizontal index finger
// ********************************************************
// ZMK_COMBO(slash, &kp SLASH,     LT0 LT1,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(slash, &kp SLASH,     LM0 LM1,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(slash, &kp SLASH,     LB0 LB1,     ALL, COMBO_TERM_SLOW)

// ********************************************************
// right horizontal index finger
// ********************************************************
// ZMK_COMBO(slash, &kp SLASH,     RT0 RT1,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(slash, &kp SLASH,     RM0 RM1,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(slash, &kp SLASH,     RB0 RB1,     ALL, COMBO_TERM_SLOW)

// ****************************************************************************
// two finger horizontal combos
// ****************************************************************************
// ********************************************************
// left horizontal index + middle fingers
// ********************************************************
// ZMK_COMBO(enter, HRC_RET,       LT1 LT2,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(enter, HRC_RET,       LM1 LM2,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(enter, HRC_RET,       LB1 LB2,     ALL, COMBO_TERM_FAST)

// ********************************************************
// left horizontal middle + ring fingers
// ********************************************************
ZMK_COMBO(tab,   &kp TAB,       LT2 LT3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(esc,   HRC_ESC,       LM2 LM3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB2 LB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// left horizontal pinky + ring fingers
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       LT4 LT3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM4 LM3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB4 LB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal index + middle fingers
// ********************************************************
ZMK_COMBO(home, &kp HOME,       RT1 RT2,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(left, &kp LEFT,       RM1 RM2,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(end, &kp END,       RB1 RB2,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal middle + ring fingers
// ********************************************************
ZMK_COMBO(up,   &kp UP,       RT2 RT3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(down,   &kp DOWN,       RM2 RM3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RB2 RB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal pinky + ring fingers
// ********************************************************
ZMK_COMBO(pg_up,   &kp PG_UP,       RT4 RT3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(right,   &kp RIGHT,       RM4 RM3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(pg_dn,   &kp PG_DN,       RB4 RB3,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// two finger diagonal combos
// ****************************************************************************
// ********************************************************
// left diagonal index + middle fingers
// ********************************************************
ZMK_COMBO(rbrc,   &kp RBRC,       LT2 LM1,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(rbkt,   &kp RBKT,       LM2 LB1,     ALL, COMBO_TERM_FAST)

// ********************************************************
// left diagonal ring + middle fingers
// ********************************************************
ZMK_COMBO(lbrc,   &kp LBRC,       LT2 LM3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(lbkt,   &kp LBKT,       LM2 LB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// left diagonal ring + pinky fingers
// ********************************************************
ZMK_COMBO(space,   &kp SPACE,       LT3 LM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM3 LB4,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right diagonal index + middle fingers
// ********************************************************
ZMK_COMBO(lpar,   &kp LPAR,       RT2 RM1,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(lt,   &kp LT,       RM2 RB1,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right diagonal ring + middle fingers
// ********************************************************
ZMK_COMBO(rpar,   &kp RPAR,       RT2 RM3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(gt,   &kp GT,       RM2 RB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right diagonal ring + pinky fingers
// ********************************************************
ZMK_COMBO(bspc,   &kp BSPC,       RT3 RM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RM3 RB4,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// three finger horizontal combos
// ****************************************************************************
// ********************************************************
// left horizontal index + middle + ring fingers
// ********************************************************
ZMK_COMBO(bri_up,   &kp C_BRI_UP,       LT1 LT2 LT3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(bri_dn,   &kp C_BRI_DN,       LM1 LM2 LM3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM1 LB2 LB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// left horizontal middle + ring + pinky fingers
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       LT2 LT3 LT4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM2 LM3 LM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM2 LB3 LB4,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal index + middle + ring fingers
// ********************************************************
ZMK_COMBO(vol_up,   &kp C_VOL_UP,       RT1 RT2 RT3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(vol_dn,    &kp C_VOL_DN,       RM1 RM2 RM3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(mute,   &kp C_MUTE,       RB1 RB2 RB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal middle + ring + pinky fingers
// ********************************************************
ZMK_COMBO(prev,   &kp C_PREV,       RT2 RT3 RT4,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(next,   &kp C_NEXT,       RM2 RM3 RM4,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(pp,   &kp C_PP,       RM2 RB3 RB4,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// three finger lowered index or pinky combos
// ****************************************************************************
// left index + middle + ring fingers
// ZMK_COMBO(esc,   HRC_ESC,       LM1 LT2 LT3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB1 LM2 LM3,     ALL, COMBO_TERM_FAST)

// left pinky + middle + ring fingers
// ZMK_COMBO(esc,   HRC_ESC,       LT2 LT3 LM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM2 LM3 LB4,     ALL, COMBO_TERM_FAST)

// right index + middle + ring fingers
// ZMK_COMBO(esc,   HRC_ESC,       RM1 RT2 RT3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RB1 RM2 RM3,     ALL, COMBO_TERM_FAST)

// right pinky + middle + ring fingers
// ZMK_COMBO(esc,   HRC_ESC,       RT2 RT3 RM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RM2 RM3 RB4,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// three finger raised middle finger combos
// ****************************************************************************
// left index + middle + ring fingers
// ZMK_COMBO(esc,   HRC_ESC,       LM1 LT2 LM3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB1 LM2 LB3,     ALL, COMBO_TERM_FAST)

// right index + middle + ring fingers
ZMK_COMBO(rw,   &kp C_RW,       RM1 RT2 RM3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(ff,   &kp C_FF,       RB1 RM2 RB3,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// four finger horizontal combos
// ****************************************************************************
// ********************************************************
// left horizontal
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       LT1 LT2 LT3 LT4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM1 LM2 LM3 LM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB1 LB2 LB3 LB4,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       RT1 RT2 RT3 RT4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RM1 RM2 RM3 RM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RB1 RB2 RB3 RB4,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// four finger diagonal combos
// ****************************************************************************
// ********************************************************
// left
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       LM1 LT2 LT3 LM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB1 LM2 LM3 LB4,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       RM1 RT2 RT3 RM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RB1 RM2 RM3 RB4,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// shift combos
// ****************************************************************************

ZMK_COMBO(s_a, &kp LS(A), RH1 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_b, &kp LS(B), RH1 LT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_c, &kp LS(C), RH1 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_d, &kp LS(D), RH1 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_e, &kp LS(E), RH1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f, &kp LS(F), RH1 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_g, &kp LS(G), RH1 LM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_h, &kp LS(H), RH1 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_i, &kp LS(I), RH1 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_j, &kp LS(J), RH1 RT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_k, &kp LS(K), RH1 RB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_l, &kp LS(L), RH1 RT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_m, &kp LS(M), RH1 RM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_n, &kp LS(N), RH1 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_o, &kp LS(O), RH1 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_p, &kp LS(P), RH1 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_q, &kp LS(Q), RH1 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_r, &kp LS(R), RH1 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_s, &kp LS(S), RH1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_t, &kp LS(T), RH1 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_u, &kp LS(U), RH1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_v, &kp LS(V), RH1 LB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_w, &kp LS(W), RH1 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_x, &kp LS(X), RH1 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_y, &kp LS(Y), RH1 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_z, &kp LS(Z), RH1 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_enter, &kp LS(ENTER), RH1 LM1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_tab, &kp LS(TAB), RH1 LT2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_esc, &kp LS(ESC), RH1 LM2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_space, &kp LS(SPACE), RH1 LT3 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_bspc, &kp LS(BSPC), RH1 RT3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_up, &kp LS(UP), RH1 RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_down, &kp LS(DOWN), RH1 RM2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_left, &kp LS(LEFT), RH1 RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_right, &kp LS(RIGHT), RH1 RM3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_home, &kp LS(HOME), RH1 RT1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_end, &kp LS(END), RH1 RB1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_pg_up, &kp LS(PG_UP), RH1 RT4 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_pg_dn, &kp LS(PG_DN), RH1 RB4 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_0, &kp LS(N0), RH1 RM5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_1, &kp LS(N1), RH1 RM5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_2, &kp LS(N2), RH1 RM5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_3, &kp LS(N3), RH1 RM5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_4, &kp LS(N4), RH1 RM5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_5, &kp LS(N5), RH1 RM5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_6, &kp LS(N6), RH1 RM5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_7, &kp LS(N7), RH1 RM5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_8, &kp LS(N8), RH1 RM5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_9, &kp LS(N9), RH1 RM5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f1, &kp LS(F1), RH1 RB5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f2, &kp LS(F2), RH1 RB5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f3, &kp LS(F3), RH1 RB5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f4, &kp LS(F4), RH1 RB5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f5, &kp LS(F5), RH1 RB5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f6, &kp LS(F6), RH1 RB5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f7, &kp LS(F7), RH1 RB5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f8, &kp LS(F8), RH1 RB5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f9, &kp LS(F9), RH1 RB5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f10, &kp LS(F10), RH1 RB5 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f11, &kp LS(F11), RH1 RB5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f12, &kp LS(F12), RH1 RB5 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_semicolon, &kp LS(SEMICOLON), RH1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_colon, &kp LS(COLON), RH1 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_excl, &kp LS(EXCL), RH1 RB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_dqt, &kp LS(EXCL), RH1 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_at, &kp LS(AT), RH1 LB3 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_hash, &kp LS(HASH), RH1 LB2 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_dllr, &kp LS(DLLR), RH1 LB1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_prcnt, &kp LS(PRCNT), RH1 LB0 LM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_caret, &kp LS(CARET), RH1 RB0 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_amps, &kp LS(AMPS), RH1 RB1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_star, &kp LS(STAR), RH1 RB2 RM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_tilde, &kp LS(TILDE), RH1 LM3 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_grave, &kp LS(GRAVE), RH1 LM2 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_bslh, &kp LS(BSLH), RH1 LM1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_pipe, &kp LS(PIPE), RH1 LM0 LT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_under, &kp LS(UNDER), RH1 RM0 RT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_minus, &kp LS(MINUS), RH1 RM1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_equal, &kp LS(EQUAL), RH1 RM2 RT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_plus, &kp LS(PLUS), RH1 RM3 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_slash, &kp LS(SLASH), RH1 RM0 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_rbrc, &kp LS(RBRC), RH1 LT2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_rbkt, &kp LS(RBKT), RH1 LM2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lbrc, &kp LS(LBRC), RH1 LT2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lbkt, &kp LS(LBKT), RH1 LM2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lpar, &kp LS(LPAR), RH1 RT2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lt, &kp LS(LT), RH1 RM2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_rpar, &kp LS(RPAR), RH1 RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_gt, &kp LS(GT), RH1 RM2 RB3, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// cmd combos
// ****************************************************************************

ZMK_COMBO(g_a, &kp LG(A), LH1 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_b, &kp LG(B), LH1 LT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_c, &kp LG(C), LH1 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_d, &kp LG(D), LH1 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_e, &kp LG(E), LH1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f, &kp LG(F), LH1 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_g, &kp LG(G), LH1 LM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_h, &kp LG(H), LH1 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_i, &kp LG(I), LH1 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_j, &kp LG(J), LH1 RT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_k, &kp LG(K), LH1 RB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_l, &kp LG(L), LH1 RT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_m, &kp LG(M), LH1 RM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_n, &kp LG(N), LH1 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_o, &kp LG(O), LH1 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_p, &kp LG(P), LH1 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_q, &kp LG(Q), LH1 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_r, &kp LG(R), LH1 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_s, &kp LG(S), LH1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_t, &kp LG(T), LH1 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_u, &kp LG(U), LH1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_v, &kp LG(V), LH1 LB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_w, &kp LG(W), LH1 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_x, &kp LG(X), LH1 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_y, &kp LG(Y), LH1 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_z, &kp LG(Z), LH1 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_enter, &kp LG(ENTER), LH1 LM1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_tab, &kp LG(TAB), LH1 LT2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_esc, &kp LG(ESC), LH1 LM2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_space, &kp LG(SPACE), LH1 LT3 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_bspc, &kp LG(BSPC), LH1 RT3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_up, &kp LG(UP), LH1 RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_down, &kp LG(DOWN), LH1 RM2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_left, &kp LG(LEFT), LH1 RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_right, &kp LG(RIGHT), LH1 RM3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_home, &kp LG(HOME), LH1 RT1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_end, &kp LG(END), LH1 RB1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_pg_up, &kp LG(PG_UP), LH1 RT4 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_pg_dn, &kp LG(PG_DN), LH1 RB4 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_0, &kp LG(N0), LH1 RM5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_1, &kp LG(N1), LH1 RM5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_2, &kp LG(N2), LH1 RM5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_3, &kp LG(N3), LH1 RM5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_4, &kp LG(N4), LH1 RM5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_5, &kp LG(N5), LH1 RM5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_6, &kp LG(N6), LH1 RM5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_7, &kp LG(N7), LH1 RM5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_8, &kp LG(N8), LH1 RM5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_9, &kp LG(N9), LH1 RM5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f1, &kp LG(F1), LH1 RB5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f2, &kp LG(F2), LH1 RB5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f3, &kp LG(F3), LH1 RB5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f4, &kp LG(F4), LH1 RB5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f5, &kp LG(F5), LH1 RB5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f6, &kp LG(F6), LH1 RB5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f7, &kp LG(F7), LH1 RB5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f8, &kp LG(F8), LH1 RB5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f9, &kp LG(F9), LH1 RB5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f10, &kp LG(F10), LH1 RB5 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f11, &kp LG(F11), LH1 RB5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_f12, &kp LG(F12), LH1 RB5 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_semicolon, &kp LG(SEMICOLON), LH1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_colon, &kp LG(COLON), LH1 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_excl, &kp LG(EXCL), LH1 RB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_dqt, &kp LG(EXCL), LH1 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_at, &kp LG(AT), LH1 LB3 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_hash, &kp LG(HASH), LH1 LB2 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_dllr, &kp LG(DLLR), LH1 LB1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_prcnt, &kp LG(PRCNT), LH1 LB0 LM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_caret, &kp LG(CARET), LH1 RB0 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_amps, &kp LG(AMPS), LH1 RB1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_star, &kp LG(STAR), LH1 RB2 RM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_tilde, &kp LG(TILDE), LH1 LM3 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_grave, &kp LG(GRAVE), LH1 LM2 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_bslh, &kp LG(BSLH), LH1 LM1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_pipe, &kp LG(PIPE), LH1 LM0 LT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_under, &kp LG(UNDER), LH1 RM0 RT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_minus, &kp LG(MINUS), LH1 RM1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_equal, &kp LG(EQUAL), LH1 RM2 RT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_plus, &kp LG(PLUS), LH1 RM3 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_slash, &kp LG(SLASH), LH1 RM0 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(g_rbrc, &kp LG(RBRC), LH1 LT2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_rbkt, &kp LG(RBKT), LH1 LM2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_lbrc, &kp LG(LBRC), LH1 LT2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_lbkt, &kp LG(LBKT), LH1 LM2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_lpar, &kp LG(LPAR), LH1 RT2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_lt, &kp LG(LT), LH1 RM2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_rpar, &kp LG(RPAR), LH1 RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(g_gt, &kp LG(GT), LH1 RM2 RB3, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// alt combos
// **************************************************************************aL

ZMK_COMBO(a_a, &kp LC(A), RH0 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_b, &kp LA(B), LH0 LT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_c, &kp LA(C), LH0 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_d, &kp LA(D), LH0 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_e, &kp LA(E), LH0 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f, &kp LA(F), LH0 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_g, &kp LA(G), LH0 LM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_h, &kp LA(H), LH0 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_i, &kp LA(I), LH0 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_j, &kp LA(J), LH0 RT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_k, &kp LA(K), LH0 RB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_l, &kp LA(L), LH0 RT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_m, &kp LA(M), LH0 RM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_n, &kp LA(N), LH0 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_o, &kp LA(O), LH0 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_p, &kp LA(P), LH0 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_q, &kp LA(Q), LH0 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_r, &kp LA(R), LH0 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_s, &kp LA(S), LH0 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_t, &kp LA(T), LH0 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_u, &kp LA(U), LH0 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_v, &kp LA(V), LH0 LB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_w, &kp LA(W), LH0 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_x, &kp LA(X), LH0 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_y, &kp LA(Y), LH0 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_z, &kp LA(Z), LH0 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_enter, &kp LA(ENTER), LH0 LM1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_tab, &kp LA(TAB), LH0 LT2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_esc, &kp LA(ESC), LH0 LM2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_space, &kp LA(SPACE), LH0 LT3 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_bspc, &kp LA(BSPC), LH0 RT3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_up, &kp LA(UP), LH0 RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_down, &kp LA(DOWN), LH0 RM2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_left, &kp LA(LEFT), LH0 RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_right, &kp LA(RIGHT), LH0 RM3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_home, &kp LA(HOME), LH0 RT1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_end, &kp LA(END), LH0 RB1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_pg_up, &kp LA(PG_UP), LH0 RT4 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_pg_dn, &kp LA(PG_DN), LH0 RB4 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_0, &kp LA(N0), LH0 RM5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_1, &kp LA(N1), LH0 RM5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_2, &kp LA(N2), LH0 RM5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_3, &kp LA(N3), LH0 RM5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_4, &kp LA(N4), LH0 RM5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_5, &kp LA(N5), LH0 RM5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_6, &kp LA(N6), LH0 RM5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_7, &kp LA(N7), LH0 RM5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_8, &kp LA(N8), LH0 RM5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_9, &kp LA(N9), LH0 RM5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f1, &kp LA(F1), LH0 RB5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f2, &kp LA(F2), LH0 RB5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f3, &kp LA(F3), LH0 RB5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f4, &kp LA(F4), LH0 RB5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f5, &kp LA(F5), LH0 RB5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f6, &kp LA(F6), LH0 RB5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f7, &kp LA(F7), LH0 RB5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f8, &kp LA(F8), LH0 RB5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f9, &kp LA(F9), LH0 RB5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f10, &kp LA(F10), LH0 RB5 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f11, &kp LA(F11), LH0 RB5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_f12, &kp LA(F12), LH0 RB5 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_semicolon, &kp LA(SEMICOLON), LH0 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_colon, &kp LA(COLON), LH0 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_excl, &kp LA(EXCL), LH0 RB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_dqt, &kp LA(EXCL), LH0 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_at, &kp LA(AT), LH0 LB3 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_hash, &kp LA(HASH), LH0 LB2 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_dllr, &kp LA(DLLR), LH0 LB1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_prcnt, &kp LA(PRCNT), LH0 LB0 LM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_caret, &kp LA(CARET), LH0 RB0 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_amps, &kp LA(AMPS), LH0 RB1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_star, &kp LA(STAR), LH0 RB2 RM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_tilde, &kp LA(TILDE), LH0 LM3 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_grave, &kp LA(GRAVE), LH0 LM2 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_bslh, &kp LA(BSLH), LH0 LM1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_pipe, &kp LA(PIPE), LH0 LM0 LT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_under, &kp LA(UNDER), LH0 RM0 RT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_minus, &kp LA(MINUS), LH0 RM1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_equal, &kp LA(EQUAL), LH0 RM2 RT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_plus, &kp LA(PLUS), LH0 RM3 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_slash, &kp LA(SLASH), LH0 RM0 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(a_rbrc, &kp LA(RBRC), LH0 LT2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_rbkt, &kp LA(RBKT), LH0 LM2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_lbrc, &kp LA(LBRC), LH0 LT2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_lbkt, &kp LA(LBKT), LH0 LM2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_lpar, &kp LA(LPAR), LH0 RT2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_lt, &kp LA(LT), LH0 RM2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_rpar, &kp LA(RPAR), LH0 RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(a_gt, &kp LA(GT), LH0 RM2 RB3, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// ctrl combos
// ****************************************************************************

ZMK_COMBO(c_a, &kp LC(A), RH0 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_b, &kp LC(B), RH0 LT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_c, &kp LC(C), RH0 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_d, &kp LC(D), RH0 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_e, &kp LC(E), RH0 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f, &kp LC(F), RH0 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_g, &kp LC(G), RH0 LM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_h, &kp LC(H), RH0 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_i, &kp LC(I), RH0 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_j, &kp LC(J), RH0 RT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_k, &kp LC(K), RH0 RB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_l, &kp LC(L), RH0 RT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_m, &kp LC(M), RH0 RM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_n, &kp LC(N), RH0 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_o, &kp LC(O), RH0 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_p, &kp LC(P), RH0 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_q, &kp LC(Q), RH0 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_r, &kp LC(R), RH0 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_s, &kp LC(S), RH0 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_t, &kp LC(T), RH0 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_u, &kp LC(U), RH0 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_v, &kp LC(V), RH0 LB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_w, &kp LC(W), RH0 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_x, &kp LC(X), RH0 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_y, &kp LC(Y), RH0 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_z, &kp LC(Z), RH0 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_enter, &kp LC(ENTER), RH0 LM1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_tab, &kp LC(TAB), RH0 LT2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_esc, &kp LC(ESC), RH0 LM2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_space, &kp LC(SPACE), RH0 LT3 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_bspc, &kp LC(BSPC), RH0 RT3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_up, &kp LC(UP), RH0 RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_down, &kp LC(DOWN), RH0 RM2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_left, &kp LC(LEFT), RH0 RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_right, &kp LC(RIGHT), RH0 RM3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_home, &kp LC(HOME), RH0 RT1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_end, &kp LC(END), RH0 RB1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_pg_up, &kp LC(PG_UP), RH0 RT4 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_pg_dn, &kp LC(PG_DN), RH0 RB4 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_0, &kp LC(N0), RH0 RM5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_1, &kp LC(N1), RH0 RM5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_2, &kp LC(N2), RH0 RM5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_3, &kp LC(N3), RH0 RM5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_4, &kp LC(N4), RH0 RM5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_5, &kp LC(N5), RH0 RM5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_6, &kp LC(N6), RH0 RM5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_7, &kp LC(N7), RH0 RM5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_8, &kp LC(N8), RH0 RM5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_9, &kp LC(N9), RH0 RM5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f1, &kp LC(F1), RH0 RB5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f2, &kp LC(F2), RH0 RB5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f3, &kp LC(F3), RH0 RB5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f4, &kp LC(F4), RH0 RB5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f5, &kp LC(F5), RH0 RB5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f6, &kp LC(F6), RH0 RB5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f7, &kp LC(F7), RH0 RB5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f8, &kp LC(F8), RH0 RB5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f9, &kp LC(F9), RH0 RB5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f10, &kp LC(F10), RH0 RB5 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f11, &kp LC(F11), RH0 RB5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_f12, &kp LC(F12), RH0 RB5 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_semicolon, &kp LC(SEMICOLON), RH0 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_colon, &kp LC(COLON), RH0 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_excl, &kp LC(EXCL), RH0 RB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_dqt, &kp LC(EXCL), RH0 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_at, &kp LC(AT), RH0 LB3 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_hash, &kp LC(HASH), RH0 LB2 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_dllr, &kp LC(DLLR), RH0 LB1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_prcnt, &kp LC(PRCNT), RH0 LB0 LM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_caret, &kp LC(CARET), RH0 RB0 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_amps, &kp LC(AMPS), RH0 RB1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_star, &kp LC(STAR), RH0 RB2 RM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_tilde, &kp LC(TILDE), RH0 LM3 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_grave, &kp LC(GRAVE), RH0 LM2 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_bslh, &kp LC(BSLH), RH0 LM1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_pipe, &kp LC(PIPE), RH0 LM0 LT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_under, &kp LC(UNDER), RH0 RM0 RT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_minus, &kp LC(MINUS), RH0 RM1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_equal, &kp LC(EQUAL), RH0 RM2 RT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_plus, &kp LC(PLUS), RH0 RM3 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_slash, &kp LC(SLASH), RH0 RM0 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(c_rbrc, &kp LC(RBRC), RH0 LT2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_rbkt, &kp LC(RBKT), RH0 LM2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_lbrc, &kp LC(LBRC), RH0 LT2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_lbkt, &kp LC(LBKT), RH0 LM2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_lpar, &kp LC(LPAR), RH0 RT2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_lt, &kp LC(LT), RH0 RM2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_rpar, &kp LC(RPAR), RH0 RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(c_gt, &kp LC(GT), RH0 RM2 RB3, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// hyper combos
// ****************************************************************************

ZMK_COMBO(hyp_a, &kp LG(LA(LS(LC(A)))), RH2 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_b, &kp LG(LA(LS(LC(B)))), RH2 LT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_c, &kp LG(LA(LS(LC(C)))), RH2 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_d, &kp LG(LA(LS(LC(D)))), RH2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_e, &kp LG(LA(LS(LC(E)))), RH2 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f, &kp LG(LA(LS(LC(F)))), RH2 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_g, &kp LG(LA(LS(LC(G)))), RH2 LM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_h, &kp LG(LA(LS(LC(H)))), RH2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_i, &kp LG(LA(LS(LC(I)))), RH2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_j, &kp LG(LA(LS(LC(J)))), RH2 RT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_k, &kp LG(LA(LS(LC(K)))), RH2 RB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_l, &kp LG(LA(LS(LC(L)))), RH2 RT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_m, &kp LG(LA(LS(LC(M)))), RH2 RM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_n, &kp LG(LA(LS(LC(N)))), RH2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_o, &kp LG(LA(LS(LC(O)))), RH2 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_p, &kp LG(LA(LS(LC(P)))), RH2 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_q, &kp LG(LA(LS(LC(Q)))), RH2 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_r, &kp LG(LA(LS(LC(R)))), RH2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_s, &kp LG(LA(LS(LC(S)))), RH2 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_t, &kp LG(LA(LS(LC(T)))), RH2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_u, &kp LG(LA(LS(LC(U)))), RH2 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_v, &kp LG(LA(LS(LC(V)))), RH2 LB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_w, &kp LG(LA(LS(LC(W)))), RH2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_x, &kp LG(LA(LS(LC(X)))), RH2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_y, &kp LG(LA(LS(LC(Y)))), RH2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_z, &kp LG(LA(LS(LC(Z)))), RH2 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_enter, &kp LG(LA(LS(LC(ENTER)))), RH2 LM1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_tab, &kp LG(LA(LS(LC(TAB)))), RH2 LT2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_esc, &kp LG(LA(LS(LC(ESC)))), RH2 LM2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_space, &kp LG(LA(LS(LC(SPACE)))), RH2 LT3 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_bspc, &kp LG(LA(LS(LC(BSPC)))), RH2 RT3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_up, &kp LG(LA(LS(LC(UP)))), RH2 RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_down, &kp LG(LA(LS(LC(DOWN)))), RH2 RM2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_left, &kp LG(LA(LS(LC(LEFT)))), RH2 RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_right, &kp LG(LA(LS(LC(RIGHT)))), RH2 RM3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_home, &kp LG(LA(LS(LC(HOME)))), RH2 RT1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_end, &kp LG(LA(LS(LC(END)))), RH2 RB1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_pg_up, &kp LG(LA(LS(LC(PG_UP)))), RH2 RT4 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_pg_dn, &kp LG(LA(LS(LC(PG_DN)))), RH2 RB4 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_0, &kp LG(LA(LS(LC(N0)))), RH2 RM5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_1, &kp LG(LA(LS(LC(N1)))), RH2 RM5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_2, &kp LG(LA(LS(LC(N2)))), RH2 RM5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_3, &kp LG(LA(LS(LC(N3)))), RH2 RM5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_4, &kp LG(LA(LS(LC(N4)))), RH2 RM5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_5, &kp LG(LA(LS(LC(N5)))), RH2 RM5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_6, &kp LG(LA(LS(LC(N6)))), RH2 RM5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_7, &kp LG(LA(LS(LC(N7)))), RH2 RM5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_8, &kp LG(LA(LS(LC(N8)))), RH2 RM5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_9, &kp LG(LA(LS(LC(N9)))), RH2 RM5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f1, &kp LG(LA(LS(LC(F1)))), RH2 RB5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f2, &kp LG(LA(LS(LC(F2)))), RH2 RB5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f3, &kp LG(LA(LS(LC(F3)))), RH2 RB5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f4, &kp LG(LA(LS(LC(F4)))), RH2 RB5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f5, &kp LG(LA(LS(LC(F5)))), RH2 RB5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f6, &kp LG(LA(LS(LC(F6)))), RH2 RB5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f7, &kp LG(LA(LS(LC(F7)))), RH2 RB5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f8, &kp LG(LA(LS(LC(F8)))), RH2 RB5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f9, &kp LG(LA(LS(LC(F9)))), RH2 RB5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f10, &kp LG(LA(LS(LC(F10)))), RH2 RB5 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f11, &kp LG(LA(LS(LC(F11)))), RH2 RB5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_f12, &kp LG(LA(LS(LC(F12)))), RH2 RB5 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_semicolon, &kp LG(LA(LS(LC(SEMICOLON)))), RH2 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_colon, &kp LG(LA(LS(LC(COLON)))), RH2 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_excl, &kp LG(LA(LS(LC(EXCL)))), RH2 RB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_dqt, &kp LG(LA(LS(LC(EXCL)))), RH2 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_at, &kp LG(LA(LS(LC(AT)))), RH2 LB3 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_hash, &kp LG(LA(LS(LC(HASH)))), RH2 LB2 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_dllr, &kp LG(LA(LS(LC(DLLR)))), RH2 LB1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_prcnt, &kp LG(LA(LS(LC(PRCNT)))), RH2 LB0 LM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_caret, &kp LG(LA(LS(LC(CARET)))), RH2 RB0 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_amps, &kp LG(LA(LS(LC(AMPS)))), RH2 RB1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_star, &kp LG(LA(LS(LC(STAR)))), RH2 RB2 RM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_tilde, &kp LG(LA(LS(LC(TILDE)))), RH2 LM3 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_grave, &kp LG(LA(LS(LC(GRAVE)))), RH2 LM2 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_bslh, &kp LG(LA(LS(LC(BSLH)))), RH2 LM1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_pipe, &kp LG(LA(LS(LC(PIPE)))), RH2 LM0 LT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_under, &kp LG(LA(LS(LC(UNDER)))), RH2 RM0 RT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_minus, &kp LG(LA(LS(LC(MINUS)))), RH2 RM1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_equal, &kp LG(LA(LS(LC(EQUAL)))), RH2 RM2 RT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_plus, &kp LG(LA(LS(LC(PLUS)))), RH2 RM3 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_slash, &kp LG(LA(LS(LC(SLASH)))), RH2 RM0 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hyp_rbrc, &kp LG(LA(LS(LC(RBRC)))), RH2 LT2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_rbkt, &kp LG(LA(LS(LC(RBKT)))), RH2 LM2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_lbrc, &kp LG(LA(LS(LC(LBRC)))), RH2 LT2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_lbkt, &kp LG(LA(LS(LC(LBKT)))), RH2 LM2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_lpar, &kp LG(LA(LS(LC(LPAR)))), RH2 RT2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_lt, &kp LG(LA(LS(LC(LT)))), RH2 RM2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_rpar, &kp LG(LA(LS(LC(RPAR)))), RH2 RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(hyp_gt, &kp LG(LA(LS(LC(GT)))), RH2 RM2 RB3, ALL, COMBO_TERM_FAST)


// ****************************************************************************
// meh combos
// ****************************************************************************

ZMK_COMBO(meh_a, &kp LA(LS(LC(A))), LH2 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_b, &kp LA(LS(LC(B))), LH2 LT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_c, &kp LA(LS(LC(C))), LH2 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_d, &kp LA(LS(LC(D))), LH2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_e, &kp LA(LS(LC(E))), LH2 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f, &kp LA(LS(LC(F))), LH2 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_g, &kp LA(LS(LC(G))), LH2 LM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_h, &kp LA(LS(LC(H))), LH2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_i, &kp LA(LS(LC(I))), LH2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_j, &kp LA(LS(LC(J))), LH2 RT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_k, &kp LA(LS(LC(K))), LH2 RB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_l, &kp LA(LS(LC(L))), LH2 RT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_m, &kp LA(LS(LC(M))), LH2 RM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_n, &kp LA(LS(LC(N))), LH2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_o, &kp LA(LS(LC(O))), LH2 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_p, &kp LA(LS(LC(P))), LH2 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_q, &kp LA(LS(LC(Q))), LH2 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_r, &kp LA(LS(LC(R))), LH2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_s, &kp LA(LS(LC(S))), LH2 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_t, &kp LA(LS(LC(T))), LH2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_u, &kp LA(LS(LC(U))), LH2 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_v, &kp LA(LS(LC(V))), LH2 LB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_w, &kp LA(LS(LC(W))), LH2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_x, &kp LA(LS(LC(X))), LH2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_y, &kp LA(LS(LC(Y))), LH2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_z, &kp LA(LS(LC(Z))), LH2 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_enter, &kp LA(LS(LC(ENTER))), LH2 LM1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_tab, &kp LA(LS(LC(TAB))), LH2 LT2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_esc, &kp LA(LS(LC(ESC))), LH2 LM2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_space, &kp LA(LS(LC(SPACE))), LH2 LT3 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_bspc, &kp LA(LS(LC(BSPC))), LH2 RT3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_up, &kp LA(LS(LC(UP))), LH2 RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_down, &kp LA(LS(LC(DOWN))), LH2 RM2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_left, &kp LA(LS(LC(LEFT))), LH2 RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_right, &kp LA(LS(LC(RIGHT))), LH2 RM3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_home, &kp LA(LS(LC(HOME))), LH2 RT1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_end, &kp LA(LS(LC(END))), LH2 RB1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_pg_up, &kp LA(LS(LC(PG_UP))), LH2 RT4 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_pg_dn, &kp LA(LS(LC(PG_DN))), LH2 RB4 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_0, &kp LA(LS(LC(N0))), LH2 RM5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_1, &kp LA(LS(LC(N1))), LH2 RM5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_2, &kp LA(LS(LC(N2))), LH2 RM5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_3, &kp LA(LS(LC(N3))), LH2 RM5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_4, &kp LA(LS(LC(N4))), LH2 RM5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_5, &kp LA(LS(LC(N5))), LH2 RM5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_6, &kp LA(LS(LC(N6))), LH2 RM5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_7, &kp LA(LS(LC(N7))), LH2 RM5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_8, &kp LA(LS(LC(N8))), LH2 RM5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_9, &kp LA(LS(LC(N9))), LH2 RM5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f1, &kp LA(LS(LC(F1))), LH2 RB5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f2, &kp LA(LS(LC(F2))), LH2 RB5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f3, &kp LA(LS(LC(F3))), LH2 RB5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f4, &kp LA(LS(LC(F4))), LH2 RB5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f5, &kp LA(LS(LC(F5))), LH2 RB5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f6, &kp LA(LS(LC(F6))), LH2 RB5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f7, &kp LA(LS(LC(F7))), LH2 RB5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f8, &kp LA(LS(LC(F8))), LH2 RB5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f9, &kp LA(LS(LC(F9))), LH2 RB5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f10, &kp LA(LS(LC(F10))), LH2 RB5 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f11, &kp LA(LS(LC(F11))), LH2 RB5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_f12, &kp LA(LS(LC(F12))), LH2 RB5 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_semicolon, &kp LA(LS(LC(SEMICOLON))), LH2 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_colon, &kp LA(LS(LC(COLON))), LH2 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_excl, &kp LA(LS(LC(EXCL))), LH2 RB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_dqt, &kp LA(LS(LC(EXCL))), LH2 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_at, &kp LA(LS(LC(AT))), LH2 LB3 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_hash, &kp LA(LS(LC(HASH))), LH2 LB2 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_dllr, &kp LA(LS(LC(DLLR))), LH2 LB1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_prcnt, &kp LA(LS(LC(PRCNT))), LH2 LB0 LM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_caret, &kp LA(LS(LC(CARET))), LH2 RB0 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_amps, &kp LA(LS(LC(AMPS))), LH2 RB1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_star, &kp LA(LS(LC(STAR))), LH2 RB2 RM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_tilde, &kp LA(LS(LC(TILDE))), LH2 LM3 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_grave, &kp LA(LS(LC(GRAVE))), LH2 LM2 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_bslh, &kp LA(LS(LC(BSLH))), LH2 LM1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_pipe, &kp LA(LS(LC(PIPE))), LH2 LM0 LT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_under, &kp LA(LS(LC(UNDER))), LH2 RM0 RT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_minus, &kp LA(LS(LC(MINUS))), LH2 RM1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_equal, &kp LA(LS(LC(EQUAL))), LH2 RM2 RT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_plus, &kp LA(LS(LC(PLUS))), LH2 RM3 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_slash, &kp LA(LS(LC(SLASH))), LH2 RM0 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(meh_rbrc, &kp LA(LS(LC(RBRC))), LH2 LT2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_rbkt, &kp LA(LS(LC(RBKT))), LH2 LM2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_lbrc, &kp LA(LS(LC(LBRC))), LH2 LT2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_lbkt, &kp LA(LS(LC(LBKT))), LH2 LM2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_lpar, &kp LA(LS(LC(LPAR))), LH2 RT2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_lt, &kp LA(LS(LC(LT))), LH2 RM2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_rpar, &kp LA(LS(LC(RPAR))), LH2 RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(meh_gt, &kp LA(LS(LC(GT))), LH2 RM2 RB3, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// alt+ctrl combos
// ****************************************************************************

ZMK_COMBO(ac_a, &kp LA(LC(A)), LH0 RH0 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_b, &kp LA(LC(B)), LH0 RH0 LT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_c, &kp LA(LC(C)), LH0 RH0 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_d, &kp LA(LC(D)), LH0 RH0 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_e, &kp LA(LC(E)), LH0 RH0 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f, &kp LA(LC(F)), LH0 RH0 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_g, &kp LA(LC(G)), LH0 RH0 LM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_h, &kp LA(LC(H)), LH0 RH0 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_i, &kp LA(LC(I)), LH0 RH0 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_j, &kp LA(LC(J)), LH0 RH0 RT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_k, &kp LA(LC(K)), LH0 RH0 RB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_l, &kp LA(LC(L)), LH0 RH0 RT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_m, &kp LA(LC(M)), LH0 RH0 RM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_n, &kp LA(LC(N)), LH0 RH0 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_o, &kp LA(LC(O)), LH0 RH0 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_p, &kp LA(LC(P)), LH0 RH0 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_q, &kp LA(LC(Q)), LH0 RH0 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_r, &kp LA(LC(R)), LH0 RH0 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_s, &kp LA(LC(S)), LH0 RH0 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_t, &kp LA(LC(T)), LH0 RH0 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_u, &kp LA(LC(U)), LH0 RH0 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_v, &kp LA(LC(V)), LH0 RH0 LB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_w, &kp LA(LC(W)), LH0 RH0 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_x, &kp LA(LC(X)), LH0 RH0 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_y, &kp LA(LC(Y)), LH0 RH0 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_z, &kp LA(LC(Z)), LH0 RH0 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_enter, &kp LA(LC(ENTER)), LH0 RH0 LM1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_tab, &kp LA(LC(TAB)), LH0 RH0 LT2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_esc, &kp LA(LC(ESC)), LH0 RH0 LM2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_space, &kp LA(LC(SPACE)), LH0 RH0 LT3 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_bspc, &kp LA(LC(BSPC)), LH0 RH0 RT3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_up, &kp LA(LC(UP)), LH0 RH0 RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_down, &kp LA(LC(DOWN)), LH0 RH0 RM2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_left, &kp LA(LC(LEFT)), LH0 RH0 RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_right, &kp LA(LC(RIGHT)), LH0 RH0 RM3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_home, &kp LA(LC(HOME)), LH0 RH0 RT1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_end, &kp LA(LC(END)), LH0 RH0 RB1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_pg_up, &kp LA(LC(PG_UP)), LH0 RH0 RT4 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_pg_dn, &kp LA(LC(PG_DN)), LH0 RH0 RB4 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_0, &kp LA(LC(N0)), LH0 RH0 RM5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_1, &kp LA(LC(N1)), LH0 RH0 RM5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_2, &kp LA(LC(N2)), LH0 RH0 RM5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_3, &kp LA(LC(N3)), LH0 RH0 RM5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_4, &kp LA(LC(N4)), LH0 RH0 RM5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_5, &kp LA(LC(N5)), LH0 RH0 RM5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_6, &kp LA(LC(N6)), LH0 RH0 RM5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_7, &kp LA(LC(N7)), LH0 RH0 RM5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_8, &kp LA(LC(N8)), LH0 RH0 RM5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_9, &kp LA(LC(N9)), LH0 RH0 RM5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f1, &kp LA(LC(F1)), LH0 RH0 RB5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f2, &kp LA(LC(F2)), LH0 RH0 RB5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f3, &kp LA(LC(F3)), LH0 RH0 RB5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f4, &kp LA(LC(F4)), LH0 RH0 RB5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f5, &kp LA(LC(F5)), LH0 RH0 RB5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f6, &kp LA(LC(F6)), LH0 RH0 RB5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f7, &kp LA(LC(F7)), LH0 RH0 RB5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f8, &kp LA(LC(F8)), LH0 RH0 RB5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f9, &kp LA(LC(F9)), LH0 RH0 RB5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f10, &kp LA(LC(F10)), LH0 RH0 RB5 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f11, &kp LA(LC(F11)), LH0 RH0 RB5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_f12, &kp LA(LC(F12)), LH0 RH0 RB5 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_semicolon, &kp LA(LC(SEMICOLON)), LH0 RH0 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_colon, &kp LA(LC(COLON)), LH0 RH0 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_excl, &kp LA(LC(EXCL)), LH0 RH0 RB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_dqt, &kp LA(LC(EXCL)), LH0 RH0 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_at, &kp LA(LC(AT)), LH0 RH0 LB3 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_hash, &kp LA(LC(HASH)), LH0 RH0 LB2 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_dllr, &kp LA(LC(DLLR)), LH0 RH0 LB1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_prcnt, &kp LA(LC(PRCNT)), LH0 RH0 LB0 LM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_caret, &kp LA(LC(CARET)), LH0 RH0 RB0 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_amps, &kp LA(LC(AMPS)), LH0 RH0 RB1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_star, &kp LA(LC(STAR)), LH0 RH0 RB2 RM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_tilde, &kp LA(LC(TILDE)), LH0 RH0 LM3 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_grave, &kp LA(LC(GRAVE)), LH0 RH0 LM2 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_bslh, &kp LA(LC(BSLH)), LH0 RH0 LM1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_pipe, &kp LA(LC(PIPE)), LH0 RH0 LM0 LT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_under, &kp LA(LC(UNDER)), LH0 RH0 RM0 RT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_minus, &kp LA(LC(MINUS)), LH0 RH0 RM1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_equal, &kp LA(LC(EQUAL)), LH0 RH0 RM2 RT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_plus, &kp LA(LC(PLUS)), LH0 RH0 RM3 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_slash, &kp LA(LC(SLASH)), LH0 RH0 RM0 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ac_rbrc, &kp LA(LC(RBRC)), LH0 RH0 LT2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_rbkt, &kp LA(LC(RBKT)), LH0 RH0 LM2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_lbrc, &kp LA(LC(LBRC)), LH0 RH0 LT2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_lbkt, &kp LA(LC(LBKT)), LH0 RH0 LM2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_lpar, &kp LA(LC(LPAR)), LH0 RH0 RT2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_lt, &kp LA(LC(LT)), LH0 RH0 RM2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_rpar, &kp LA(LC(RPAR)), LH0 RH0 RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ac_gt, &kp LA(LC(GT)), LH0 RH0 RM2 RB3, ALL, COMBO_TERM_FAST)


// ****************************************************************************
// alt+gui combos
// ****************************************************************************

ZMK_COMBO(ag_a, &kp LG(LA(A)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_b, &kp LG(LA(B)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_c, &kp LG(LA(C)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_d, &kp LG(LA(D)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_e, &kp LG(LA(E)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f, &kp LG(LA(F)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_g, &kp LG(LA(G)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_h, &kp LG(LA(H)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_i, &kp LG(LA(I)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_j, &kp LG(LA(J)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_k, &kp LG(LA(K)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_l, &kp LG(LA(L)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_m, &kp LG(LA(M)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_n, &kp LG(LA(N)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_o, &kp LG(LA(O)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_p, &kp LG(LA(P)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_q, &kp LG(LA(Q)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_r, &kp LG(LA(R)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_s, &kp LG(LA(S)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_t, &kp LG(LA(T)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_u, &kp LG(LA(U)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_v, &kp LG(LA(V)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_w, &kp LG(LA(W)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_x, &kp LG(LA(X)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_y, &kp LG(LA(Y)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_z, &kp LG(LA(Z)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_enter, &kp LG(LA(ENTER)), LH0 LH1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_tab, &kp LG(LA(TAB)), LH0 LH1 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_esc, &kp LG(LA(ESC)), LH0 LH1 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_space, &kp LG(LA(SPACE)), LH0 LH1 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_bspc, &kp LG(LA(BSPC)), LH0 LH1 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_up, &kp LG(LA(UP)), LH0 LH1 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_down, &kp LG(LA(DOWN)), LH0 LH1 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_left, &kp LG(LA(LEFT)), LH0 LH1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_right, &kp LG(LA(RIGHT)), LH0 LH1 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_home, &kp LG(LA(HOME)), LH0 LH1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_end, &kp LG(LA(END)), LH0 LH1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_pg_up, &kp LG(LA(PG_UP)), LH0 LH1 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_pg_dn, &kp LG(LA(PG_DN)), LH0 LH1 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_0, &kp LG(LA(N0)), LH0 LH1 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_1, &kp LG(LA(N1)), LH0 LH1 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_2, &kp LG(LA(N2)), LH0 LH1 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_3, &kp LG(LA(N3)), LH0 LH1 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_4, &kp LG(LA(N4)), LH0 LH1 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_5, &kp LG(LA(N5)), LH0 LH1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_6, &kp LG(LA(N6)), LH0 LH1 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_7, &kp LG(LA(N7)), LH0 LH1 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_8, &kp LG(LA(N8)), LH0 LH1 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_9, &kp LG(LA(N9)), LH0 LH1 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f1, &kp LG(LA(F1)), LH0 LH1 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f2, &kp LG(LA(F2)), LH0 LH1 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f3, &kp LG(LA(F3)), LH0 LH1 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f4, &kp LG(LA(F4)), LH0 LH1 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f5, &kp LG(LA(F5)), LH0 LH1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f6, &kp LG(LA(F6)), LH0 LH1 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f7, &kp LG(LA(F7)), LH0 LH1 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f8, &kp LG(LA(F8)), LH0 LH1 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f9, &kp LG(LA(F9)), LH0 LH1 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f10, &kp LG(LA(F10)), LH0 LH1 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f11, &kp LG(LA(F11)), LH0 LH1 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_f12, &kp LG(LA(F12)), LH0 LH1 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_semicolon, &kp LG(LA(SEMICOLON)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_colon, &kp LG(LA(COLON)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_excl, &kp LG(LA(EXCL)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_dqt, &kp LG(LA(EXCL)), LH0 LH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_at, &kp LG(LA(AT)), LH0 LH1 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_hash, &kp LG(LA(HASH)), LH0 LH1 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_dllr, &kp LG(LA(DLLR)), LH0 LH1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_prcnt, &kp LG(LA(PRCNT)), LH0 LH1 LM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_caret, &kp LG(LA(CARET)), LH0 LH1 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_amps, &kp LG(LA(AMPS)), LH0 LH1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_star, &kp LG(LA(STAR)), LH0 LH1 RM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_tilde, &kp LG(LA(TILDE)), LH0 LH1 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_grave, &kp LG(LA(GRAVE)), LH0 LH1 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_bslh, &kp LG(LA(BSLH)), LH0 LH1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_pipe, &kp LG(LA(PIPE)), LH0 LH1 LT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_under, &kp LG(LA(UNDER)), LH0 LH1 RT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_minus, &kp LG(LA(MINUS)), LH0 LH1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_equal, &kp LG(LA(EQUAL)), LH0 LH1 RT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_plus, &kp LG(LA(PLUS)), LH0 LH1 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_slash, &kp LG(LA(SLASH)), LH0 LH1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(ag_rbrc, &kp LG(LA(RBRC)), LH0 LH1 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_rbkt, &kp LG(LA(RBKT)), LH0 LH1 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_lbrc, &kp LG(LA(LBRC)), LH0 LH1 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_lbkt, &kp LG(LA(LBKT)), LH0 LH1 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_lpar, &kp LG(LA(LPAR)), LH0 LH1 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_lt, &kp LG(LA(LT)), LH0 LH1 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_rpar, &kp LG(LA(RPAR)), LH0 LH1 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ag_gt, &kp LG(LA(GT)), LH0 LH1 RB3, ALL, COMBO_TERM_FAST)





/* vim: set ft=c tw=174RH1 : */
