// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <125>;

#define COMBO_TERM_FAST 40
#define COMBO_TERM_SLOW 60

// ZMK_COMBO(rcmd_f, &rcmd2 F, LH1 LT2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_s, &rcmd2 S, LH1 LM2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_o, &rcmd O, LH1 RM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_t, &rcmd T, LH1 LM1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_p, &rcmd P, LH1 LT1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_k, &rcmd K, LH1 RB0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_a, &rcmd A, LH1 LM4, ALL, COMBO_TERM_FAST)
//
// // ZMK_COMBO(rcmd_q, &rcmd Q, LH1 LT4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_w, &rcmd W, LH1 LT3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_f, &rcmd F, LH1 LT2, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_p, &rcmd P, LH1 LT1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_b, &rcmd B, LH1 LT0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_j, &rcmd J, LH1 RT0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_l, &rcmd L, LH1 RT1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_u, &rcmd U, LH1 RT2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_y, &rcmd Y, LH1 RT3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_a, &rcmd A, LH1 LM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_r, &rcmd R, LH1 LM3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_s, &rcmd S, LH1 LM2, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_t, &rcmd T, LH1 LM1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_g, &rcmd G, LH1 LM0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_m, &rcmd M, LH1 RM0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_n, &rcmd N, LH1 RM1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_e, &rcmd E, LH1 RM2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_i, &rcmd I, LH1 RM3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_o, &rcmd O, LH1 RM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_z, &rcmd Z, LH1 LB4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_x, &rcmd X, LH1 LB3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_c, &rcmd C, LH1 LB2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_d, &rcmd D, LH1 LB1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_v, &rcmd V, LH1 LB0, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_k, &rcmd K, LH1 RB0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_h, &rcmd H, LH1 RB1, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// thumbs
// ****************************************************************************
// ********************************************************
// left thumb horizontal
// ********************************************************
// ZMK_COMBO(hammer_vim, &kp LA(LG(ESC)), LH1 LH2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(warp_combo, &warp_on, LH1 LH2, DEF NAV NUM FUN, COMBO_TERM_SLOW)
ZMK_COMBO(warp_off_combo, &warp_off, LH1 LH2, WARP, COMBO_TERM_SLOW)
ZMK_COMBO(homerow, &kp LA(LC(LS(R))), LH0 LH1, ALL, COMBO_TERM_SLOW)

// ********************************************************
// right thumb horizontal
// ********************************************************
ZMK_COMBO(raycast, &kp LA(SPACE), RH0 RH1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(mo_fun, &mo FUN, RH1 RH2, ALL, COMBO_TERM_SLOW)

// ********************************************************
// left thumb vertical
// ********************************************************
// TODO these need to be remapped
// ZMK_COMBO(homerow_scroll, &kp LG(LA(LC(LS(SLASH)))), LH2 LB1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(homerow_search, &kp LA(LC(LS(SLASH))), LH1 LB0, ALL, COMBO_TERM_FAST)

// ********************************************************
// right thumb vertical
// ********************************************************
// ZMK_COMBO(homerow_search, &kp LA(LC(LS(SLASH))), RH1 RB0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(homerow_scroll, &kp LG(LA(LC(LS(SLASH)))), RH2 RB1, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// single finger combos: all symbols not on base row except paired symbols
// ****************************************************************************
// ********************************************************
// left vertical middle + bottom rows: left number row symbols
// ********************************************************
ZMK_COMBO(excl, &kp EXCL, LB4 LM4, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(at, &kp AT, LB3 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hash, &kp HASH, LB2 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(dllr, &kp DLLR, LB1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(prcnt, &kp PRCNT, LB0 LM0, ALL, COMBO_TERM_SLOW)

// ********************************************************
// right vertical middle + bottom rows: right number row symbols
// ********************************************************
ZMK_COMBO(caret, &kp CARET, RB0 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(amps, &kp AMPS, RB1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(star, &kp STAR, RB2 RM2, ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(star, &kp STAR, RB3 RM3, ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(star, &kp STAR, RB4 RM4, ALL, COMBO_TERM_SLOW)

// ********************************************************
// left vertical middle + top rows: other symbols
// ********************************************************
// ZMK_COMBO(tilde, &kp TILDE, LM4 LT4, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(tilde, &kp TILDE, LM3 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(grave, &kp GRAVE, LM2 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(bslh, &kp BSLH, LM1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(pipe, &kp PIPE, LM0 LT0, ALL, COMBO_TERM_SLOW)

// ********************************************************
// right vertical middle + top rows: other symbols
// ********************************************************
// ZMK_COMBO(home, &kp HOME, RM0 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(left, &kp LEFT, RM1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(right, &kp RIGHT, RM2 RT2, ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(end, &kp END, RM3 RT3, ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(plus, &kp PLUS, RM4 RT4, ALL, COMBO_TERM_SLOW)

// ********************************************************
// left horizontal index finger
// ********************************************************
// ZMK_COMBO(slash, &kp SLASH, LT0 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(equal, &kp EQUAL, LM0 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(plus, &kp PLUS, LB0 LB1, ALL, COMBO_TERM_SLOW)

// ********************************************************
// right horizontal index finger
// ********************************************************
// ZMK_COMBO(slash, &kp SLASH, RT0 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(minus, &kp MINUS, RM0 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(under, &kp UNDER, RB0 RB1, ALL, COMBO_TERM_SLOW)

// ****************************************************************************
// two finger horizontal combos
// ****************************************************************************
// ********************************************************
// left horizontal index + middle fingers
// ********************************************************
// ZMK_COMBO(enter, &kp ENTER, LT1 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(enter, &hml LG(LSHFT) ENTER, LM1 LM2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(enter, &kp ENTER, LB1 LB2, ALL, COMBO_TERM_FAST)

// ********************************************************
// left horizontal middle + ring fingers
// ********************************************************
// ZMK_COMBO(tab, &kp TAB, LT2 LT3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &hml LG(LALT) ESC, LM2 LM3, DEF NAV NUM FUN, COMBO_TERM_FAST)
// ZMK_COMBO(warp_off_combo, &warp_off, LM2 LM3, WARP, COMBO_TERM_FAST)
// ZMK_COMBO(at_esc_combo, &at_esc, LM2 LM3, ALT_TAB, COMBO_TERM_FAST)
// ZMK_COMBO(ct_esc_combo, &ct_esc, LM2 LM3, CTRL_TAB, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LB2 LB3, ALL, COMBO_TERM_FAST)

// ********************************************************
// left horizontal pinky + ring fingers
// ********************************************************
// ZMK_COMBO(at_grave, &at_grave, LT4 LT3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(at_bspc, &at_bspc, LM4 LM3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(ct_tab, &ct_tab, LB4 LB3, ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal index + middle fingers
// ********************************************************
// ZMK_COMBO(up, &kp UP, RT1 RT2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(down, &hmr LG(LSHFT) DOWN, RM1 RM2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(home, &kp HOME, RB1 RB2, ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal middle + ring fingers
// ********************************************************
// ZMK_COMBO(cancel, &kp K_CANCEL, RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(cancel, &kp K_CANCEL, RM2 RM3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(slash, &hmr LG(LALT) SLASH, RM2 RM3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(end, &kp END, RB2 RB3, ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal pinky + ring fingers
// ********************************************************
// ZMK_COMBO(pg_up, &kp PG_UP, RT4 RT3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(pg_dn, &kp RIGHT, RM4 RM3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(pg_dn, &kp PG_DN, RB4 RB3, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// two finger diagonal combos
// ****************************************************************************
// ********************************************************
// left diagonal index + middle fingers
// ********************************************************
ZMK_COMBO(rbrc, &kp RBRC, LT2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(rbkt, &kp RBKT, LM2 LB1, ALL, COMBO_TERM_FAST)

// ********************************************************
// left diagonal ring + middle fingers
// ********************************************************
ZMK_COMBO(lbrc, &kp LBRC, LT2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(lbkt, &kp LBKT, LM2 LB3, ALL, COMBO_TERM_FAST)

// ********************************************************
// left diagonal ring + index fingers
// ********************************************************
ZMK_COMBO(lbrc, &kp LBRC, LT2 LM3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(lbkt, &kp LBKT, LM2 LB3, ALL, COMBO_TERM_FAST)


// ********************************************************
// left diagonal ring + pinky fingers
// ********************************************************
// ZMK_COMBO(space, &kp SPACE, LT3 LM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LM3 LB4, ALL, COMBO_TERM_FAST)

// ********************************************************
// right diagonal index + middle fingers
// ********************************************************
ZMK_COMBO(lpar, &kp LPAR, RT2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(lt, &kp LT, RM2 RB1, ALL, COMBO_TERM_FAST)

// ********************************************************
// right diagonal ring + middle fingers
// ********************************************************
ZMK_COMBO(rpar, &kp RPAR, RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(gt, &kp GT, RM2 RB3, ALL, COMBO_TERM_FAST)

// ********************************************************
// right diagonal ring + pinky fingers
// ********************************************************
// ZMK_COMBO(bspc, &kp BSPC, RT3 RM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, RM3 RB4, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// three finger horizontal combos
// ****************************************************************************
// ********************************************************
// left horizontal index + middle + ring fingers
// ********************************************************
ZMK_COMBO(bri_up, &kp C_BRI_UP, LT1 LT2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(bri_dn, &kp C_BRI_DN, LM1 LM2 LM3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LM1 LB2 LB3, ALL, COMBO_TERM_FAST)

// ********************************************************
// left horizontal middle + ring + pinky fingers
// ********************************************************
// ZMK_COMBO(esc, &kp ESC, LT2 LT3 LT4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LM2 LM3 LM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LM2 LB3 LB4, ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal index + middle + ring fingers
// ********************************************************
ZMK_COMBO(vol_up, &kp C_VOL_UP, RT1 RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(vol_dn, &kp C_VOL_DN, RM1 RM2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(mute, &kp C_MUTE, RB1 RB2 RB3, ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal middle + ring + pinky fingers
// ********************************************************
ZMK_COMBO(prev, &kp C_PREV, RT2 RT3 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(next, &kp C_NEXT, RM2 RM3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(pp, &kp C_PP, RM2 RB3 RB4, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// three finger lowered index or pinky combos
// ****************************************************************************
// left index + middle + ring fingers
// ZMK_COMBO(esc, &kp ESC, LM1 LT2 LT3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LB1 LM2 LM3, ALL, COMBO_TERM_FAST)

// left pinky + middle + ring fingers
// ZMK_COMBO(esc, &kp ESC, LT2 LT3 LM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LM2 LM3 LB4, ALL, COMBO_TERM_FAST)

// right index + middle + ring fingers
// ZMK_COMBO(esc, &kp ESC, RM1 RT2 RT3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, RB1 RM2 RM3, ALL, COMBO_TERM_FAST)

// right pinky + middle + ring fingers
// ZMK_COMBO(esc, &kp ESC, RT2 RT3 RM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, RM2 RM3 RB4, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// three finger raised middle finger combos
// ****************************************************************************
// left index + middle + ring fingers
// ZMK_COMBO(esc, &kp ESC, LM1 LT2 LM3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LB1 LM2 LB3, ALL, COMBO_TERM_FAST)

// right index + middle + ring fingers
ZMK_COMBO(rw, &kp C_RW, RM1 RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(ff, &kp C_FF, RB1 RM2 RB3, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// four finger horizontal combos
// ****************************************************************************
// ********************************************************
// left horizontal
// ********************************************************
// ZMK_COMBO(esc, &kp ESC, LT1 LT2 LT3 LT4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LM1 LM2 LM3 LM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LB1 LB2 LB3 LB4, ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal
// ********************************************************
// ZMK_COMBO(esc, &kp ESC, RT1 RT2 RT3 RT4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, RM1 RM2 RM3 RM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, RB1 RB2 RB3 RB4, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// four finger diagonal combos
// ****************************************************************************
// ********************************************************
// left
// ********************************************************
// ZMK_COMBO(esc, &kp ESC, LM1 LT2 LT3 LM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, LB1 LM2 LM3 LB4, ALL, COMBO_TERM_FAST)

// ********************************************************
// right
// ********************************************************
// ZMK_COMBO(esc, &kp ESC, RM1 RT2 RT3 RM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc, &kp ESC, RB1 RM2 RM3 RB4, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// positonal sticky combos
// ****************************************************************************
ZMK_COMBO(l_shft, &sk LSHFT, LH0 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_gui, &sk LGUI, LH0 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_alt, &sk LALT, LH0 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_ctrl, &sk LCTRL, LH0 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_meh, &sk LA(LG(LSHFT)), LH0 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_hyp, &sk LA(LC(LG(LSHFT))), LH0 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_ac, &sk LA(LCTRL), LH0 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_ag, &sk LA(LGUI), LH0 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_as, &sk LA(LSHFT), LH0 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_cg, &sk LC(LGUI), LH0 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_cs, &sk LC(LSHFT), LH0 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_gs, &sk LG(LSHFT), LH0 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_acg, &sk LA(LG(LCTRL)), LH0 LT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_ags, &sk LA(LA(LSHFT)), LH0 LB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(l_cgs, &sk LG(LS(LCTRL)), LH0 LM0, ALL, COMBO_TERM_FAST)

ZMK_COMBO(r_shft, &sk LSHFT, RH0 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_gui, &sk LGUI, RH0 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_alt, &sk LALT, RH0 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_ctrl, &sk LCTRL, RH0 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_meh, &sk LA(LG(LSHFT)), RH0 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_hyp, &sk LA(LC(LG(LSHFT))), RH0 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_ac, &sk LA(LCTRL), RH0 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_ag, &sk LA(LGUI), RH0 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_as, &sk LA(LSHFT), RH0 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_cg, &sk LC(LGUI), RH0 RT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_cs, &sk LC(LSHFT), RH0 RB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_gs, &sk LG(LSHFT), RH0 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_acg, &sk LA(LG(LCTRL)), RH0 RT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_ags, &sk LA(LA(LSHFT)), RH0 RB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(r_cgs, &sk LG(LS(LCTRL)), RH0 RM0, ALL, COMBO_TERM_FAST)
