// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <125>;

#define COMBO_TERM_FAST 40
#define COMBO_TERM_SLOW 40

// make homerow combos tap-only (so HRMs can be chorded instantaneously)
#define HRC_ESC    &hml         LA(LGUI) ESC
#define HRC_RET    &hml         LS(LGUI) RET
#define HRC_RBRC   &hmr         LS(LGUI) RBRC

// ZMK_COMBO(rcmd_f, &rcmd2 F, LH1 LT2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_s, &rcmd2 S, LH1 LM2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_o, &rcmd O, LH1 RM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_t, &rcmd T, LH1 LM1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_p, &rcmd P, LH1 LT1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_k, &rcmd K, LH1 RB0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_a, &rcmd A, LH1 LM4, ALL, COMBO_TERM_FAST)
//
// // ZMK_COMBO(rcmd_q, &rcmd Q, LH1 LT4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_w, &rcmd W, LH1 LT3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_f, &rcmd F, LH1 LT2, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_p, &rcmd P, LH1 LT1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_b, &rcmd B, LH1 LT0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_j, &rcmd J, LH1 RT0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_l, &rcmd L, LH1 RT1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_u, &rcmd U, LH1 RT2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_y, &rcmd Y, LH1 RT3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_a, &rcmd A, LH1 LM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_r, &rcmd R, LH1 LM3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_s, &rcmd S, LH1 LM2, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_t, &rcmd T, LH1 LM1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_g, &rcmd G, LH1 LM0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_m, &rcmd M, LH1 RM0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_n, &rcmd N, LH1 RM1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_e, &rcmd E, LH1 RM2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_i, &rcmd I, LH1 RM3, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_o, &rcmd O, LH1 RM4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_z, &rcmd Z, LH1 LB4, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_x, &rcmd X, LH1 LB3, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_c, &rcmd C, LH1 LB2, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_d, &rcmd D, LH1 LB1, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_v, &rcmd V, LH1 LB0, ALL, COMBO_TERM_FAST)
// // ZMK_COMBO(rcmd_k, &rcmd K, LH1 RB0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(rcmd_h, &rcmd H, LH1 RB1, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// thumbs
// ****************************************************************************
// ********************************************************
// left thumb horizontal
// ********************************************************
ZMK_COMBO(hammer_vim, &kp LA(LG(ESC)), LH1 LH2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(homerow, &kp LA(LC(LS(R))), LH0 LH1, ALL, COMBO_TERM_FAST)

// ********************************************************
// right thumb horizontal
// ********************************************************
ZMK_COMBO(raycast, &kp LA(SPACE), RH0 RH1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(mo_fun, &mo FUN, RH1 RH2, ALL, COMBO_TERM_FAST)

// ********************************************************
// left thumb vertical
// ********************************************************
ZMK_COMBO(homerow_scroll, &kp LG(LA(LC(LS(SLASH)))), LH2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(homerow_search, &kp LA(LC(LS(SLASH))), LH1 LB0, ALL, COMBO_TERM_FAST)

// ********************************************************
// right thumb vertical
// ********************************************************
// ZMK_COMBO(homerow_search, &kp LA(LC(LS(SLASH))), RH1 RB0, ALL, COMBO_TERM_FAST)
// ZMK_COMBO(homerow_scroll, &kp LG(LA(LC(LS(SLASH)))), RH2 RB1, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// single finger combos: all symbols not on base row except paired symbols
// ****************************************************************************
// ********************************************************
// left vertical middle + bottom rows: left number row symbols
// ********************************************************
// ZMK_COMBO(excl,  &kp EXCL,      LB4 LM4,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(at,    &kp AT,        LB3 LM3,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(hash,  &kp HASH,      LB2 LM2,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(dllr,  &kp DLLR,      LB1 LM1,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(prcnt, &kp PRCNT,     LB0 LM0,     ALL, COMBO_TERM_SLOW)

// ********************************************************
// right vertical middle + bottom rows: right number row symbols
// ********************************************************
ZMK_COMBO(caret, &kp CARET,     RB0 RM0,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(amps,  &kp AMPS,      RB1 RM1,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(star,  &kp STAR,      RB2 RM2,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(star,  &kp STAR,      RB3 RM3,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(star,  &kp STAR,      RB4 RM4,     ALL, COMBO_TERM_SLOW)

// ********************************************************
// left vertical middle + top rows: other symbols
// ********************************************************
// ZMK_COMBO(tilde, &kp TILDE,     LM4 LT4,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(tilde, &kp TILDE,     LM3 LT3,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(grave, &kp GRAVE,     LM2 LT2,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(bslh,  &kp BSLH,      LM1 LT1,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(pipe,  &kp PIPE,      LM0 LT0,     ALL, COMBO_TERM_SLOW)

// ********************************************************
// right vertical middle + top rows: other symbols
// ********************************************************
ZMK_COMBO(under, &kp UNDER,     RM0 RT0,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(minus, &kp MINUS,     RM1 RT1,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(equal, &kp EQUAL,     RM2 RT2,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(plus,  &kp PLUS,      RM3 RT3,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(plus,  &kp PLUS,      RM4 RT4,     ALL, COMBO_TERM_SLOW)

// ********************************************************
// left horizontal index finger
// ********************************************************
// ZMK_COMBO(slash, &kp SLASH,     LT0 LT1,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(slash, &kp SLASH,     LM0 LM1,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(slash, &kp SLASH,     LB0 LB1,     ALL, COMBO_TERM_SLOW)

// ********************************************************
// right horizontal index finger
// ********************************************************
// ZMK_COMBO(slash, &kp SLASH,     RT0 RT1,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO(slash, &kp SLASH,     RM0 RM1,     ALL, COMBO_TERM_SLOW)
// ZMK_COMBO(slash, &kp SLASH,     RB0 RB1,     ALL, COMBO_TERM_SLOW)

// ****************************************************************************
// two finger horizontal combos
// ****************************************************************************
// ********************************************************
// left horizontal index + middle fingers
// ********************************************************
// ZMK_COMBO(enter, HRC_RET,       LT1 LT2,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(enter, HRC_RET,       LM1 LM2,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(enter, HRC_RET,       LB1 LB2,     ALL, COMBO_TERM_FAST)

// ********************************************************
// left horizontal middle + ring fingers
// ********************************************************
ZMK_COMBO(tab,   &kp TAB,       LT2 LT3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(esc,   HRC_ESC,       LM2 LM3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB2 LB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// left horizontal pinky + ring fingers
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       LT4 LT3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM4 LM3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB4 LB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal index + middle fingers
// ********************************************************
ZMK_COMBO(home, &kp HOME,       RT1 RT2,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(left, &kp LEFT,       RM1 RM2,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(end, &kp END,       RB1 RB2,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal middle + ring fingers
// ********************************************************
ZMK_COMBO(up,   &kp UP,       RT2 RT3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(down,   &kp DOWN,       RM2 RM3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RB2 RB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal pinky + ring fingers
// ********************************************************
ZMK_COMBO(pg_up,   &kp PG_UP,       RT4 RT3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(right,   &kp RIGHT,       RM4 RM3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(pg_dn,   &kp PG_DN,       RB4 RB3,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// two finger diagonal combos
// ****************************************************************************
// ********************************************************
// left diagonal index + middle fingers
// ********************************************************
ZMK_COMBO(rbrc,   &kp RBRC,       LT2 LM1,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(rbkt,   &kp RBKT,       LM2 LB1,     ALL, COMBO_TERM_FAST)

// ********************************************************
// left diagonal ring + middle fingers
// ********************************************************
ZMK_COMBO(lbrc,   &kp LBRC,       LT2 LM3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(lbkt,   &kp LBKT,       LM2 LB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// left diagonal ring + pinky fingers
// ********************************************************
ZMK_COMBO(space,   &kp SPACE,       LT3 LM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM3 LB4,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right diagonal index + middle fingers
// ********************************************************
ZMK_COMBO(lpar,   &kp LPAR,       RT2 RM1,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(lt,   &kp LT,       RM2 RB1,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right diagonal ring + middle fingers
// ********************************************************
ZMK_COMBO(rpar,   &kp RPAR,       RT2 RM3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(gt,   &kp GT,       RM2 RB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right diagonal ring + pinky fingers
// ********************************************************
ZMK_COMBO(bspc,   &kp BSPC,       RT3 RM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RM3 RB4,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// three finger horizontal combos
// ****************************************************************************
// ********************************************************
// left horizontal index + middle + ring fingers
// ********************************************************
ZMK_COMBO(bri_up,   &kp C_BRI_UP,       LT1 LT2 LT3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(bri_dn,   &kp C_BRI_DN,       LM1 LM2 LM3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM1 LB2 LB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// left horizontal middle + ring + pinky fingers
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       LT2 LT3 LT4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM2 LM3 LM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM2 LB3 LB4,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal index + middle + ring fingers
// ********************************************************
ZMK_COMBO(vol_up,   &kp C_VOL_UP,       RT1 RT2 RT3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(vol_dn,    &kp C_VOL_DN,       RM1 RM2 RM3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(mute,   &kp C_MUTE,       RB1 RB2 RB3,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal middle + ring + pinky fingers
// ********************************************************
ZMK_COMBO(prev,   &kp C_PREV,       RT2 RT3 RT4,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(next,   &kp C_NEXT,       RM2 RM3 RM4,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(pp,   &kp C_PP,       RM2 RB3 RB4,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// three finger lowered index or pinky combos
// ****************************************************************************
// left index + middle + ring fingers
// ZMK_COMBO(esc,   HRC_ESC,       LM1 LT2 LT3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB1 LM2 LM3,     ALL, COMBO_TERM_FAST)

// left pinky + middle + ring fingers
// ZMK_COMBO(esc,   HRC_ESC,       LT2 LT3 LM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM2 LM3 LB4,     ALL, COMBO_TERM_FAST)

// right index + middle + ring fingers
// ZMK_COMBO(esc,   HRC_ESC,       RM1 RT2 RT3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RB1 RM2 RM3,     ALL, COMBO_TERM_FAST)

// right pinky + middle + ring fingers
// ZMK_COMBO(esc,   HRC_ESC,       RT2 RT3 RM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RM2 RM3 RB4,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// three finger raised middle finger combos
// ****************************************************************************
// left index + middle + ring fingers
// ZMK_COMBO(esc,   HRC_ESC,       LM1 LT2 LM3,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB1 LM2 LB3,     ALL, COMBO_TERM_FAST)

// right index + middle + ring fingers
ZMK_COMBO(rw,   &kp C_RW,       RM1 RT2 RM3,     ALL, COMBO_TERM_FAST)
ZMK_COMBO(ff,   &kp C_FF,       RB1 RM2 RB3,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// four finger horizontal combos
// ****************************************************************************
// ********************************************************
// left horizontal
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       LT1 LT2 LT3 LT4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LM1 LM2 LM3 LM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB1 LB2 LB3 LB4,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right horizontal
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       RT1 RT2 RT3 RT4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RM1 RM2 RM3 RM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RB1 RB2 RB3 RB4,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// four finger diagonal combos
// ****************************************************************************
// ********************************************************
// left
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       LM1 LT2 LT3 LM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       LB1 LM2 LM3 LB4,     ALL, COMBO_TERM_FAST)

// ********************************************************
// right
// ********************************************************
// ZMK_COMBO(esc,   HRC_ESC,       RM1 RT2 RT3 RM4,     ALL, COMBO_TERM_FAST)
// ZMK_COMBO(esc,   HRC_ESC,       RB1 RM2 RM3 RB4,     ALL, COMBO_TERM_FAST)

// ****************************************************************************
// shift combos
// ****************************************************************************

ZMK_COMBO(s_a, &kp LS(A), RH1 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_b, &kp LS(B), RH1 LT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_c, &kp LS(C), RH1 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_d, &kp LS(D), RH1 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_e, &kp LS(E), RH1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f, &kp LS(F), RH1 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_g, &kp LS(G), RH1 LM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_h, &kp LS(H), RH1 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_i, &kp LS(I), RH1 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_j, &kp LS(J), RH1 RT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_k, &kp LS(K), RH1 RB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_l, &kp LS(L), RH1 RT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_m, &kp LS(M), RH1 RM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_n, &kp LS(N), RH1 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_o, &kp LS(O), RH1 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_p, &kp LS(P), RH1 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_q, &kp LS(Q), RH1 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_r, &kp LS(R), RH1 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_s, &kp LS(S), RH1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_t, &kp LS(T), RH1 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_u, &kp LS(U), RH1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_v, &kp LS(V), RH1 LB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_w, &kp LS(W), RH1 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_x, &kp LS(X), RH1 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_y, &kp LS(Y), RH1 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_z, &kp LS(Z), RH1 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_enter, &kp LS(ENTER), RH1 LM1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_tab, &kp LS(TAB), RH1 LT2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_esc, &kp LS(ESC), RH1 LM2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_space, &kp LS(SPACE), RH1 LT3 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_bspc, &kp LS(BSPC), RH1 RT3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_up, &kp LS(UP), RH1 RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_down, &kp LS(DOWN), RH1 RM2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_left, &kp LS(LEFT), RH1 RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_right, &kp LS(RIGHT), RH1 RM3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_home, &kp LS(HOME), RH1 RT1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_end, &kp LS(END), RH1 RB1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_pg_up, &kp LS(PG_UP), RH1 RT4 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_pg_dn, &kp LS(PG_DN), RH1 RB4 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_0, &kp LS(N0), RH1 RM5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_1, &kp LS(N1), RH1 RM5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_2, &kp LS(N2), RH1 RM5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_3, &kp LS(N3), RH1 RM5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_4, &kp LS(N4), RH1 RM5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_5, &kp LS(N5), RH1 RM5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_6, &kp LS(N6), RH1 RM5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_7, &kp LS(N7), RH1 RM5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_8, &kp LS(N8), RH1 RM5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_9, &kp LS(N9), RH1 RM5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f1, &kp LS(F1), RH1 RB5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f2, &kp LS(F2), RH1 RB5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f3, &kp LS(F3), RH1 RB5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f4, &kp LS(F4), RH1 RB5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f5, &kp LS(F5), RH1 RB5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f6, &kp LS(F6), RH1 RB5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f7, &kp LS(F7), RH1 RB5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f8, &kp LS(F8), RH1 RB5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f9, &kp LS(F9), RH1 RB5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f10, &kp LS(F10), RH1 RB5 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f11, &kp LS(F11), RH1 RB5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f12, &kp LS(F12), RH1 RB5 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_semicolon, &kp LS(SEMICOLON), RH1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_colon, &kp LS(COLON), RH1 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_excl, &kp LS(EXCL), RH1 RB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_dqt, &kp LS(EXCL), RH1 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_at, &kp LS(AT), RH1 LB3 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_hash, &kp LS(HASH), RH1 LB2 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_dllr, &kp LS(DLLR), RH1 LB1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_prcnt, &kp LS(PRCNT), RH1 LB0 LM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_caret, &kp LS(CARET), RH1 RB0 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_amps, &kp LS(AMPS), RH1 RB1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_star, &kp LS(STAR), RH1 RB2 RM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_tilde, &kp LS(TILDE), RH1 LM3 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_grave, &kp LS(GRAVE), RH1 LM2 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_bslh, &kp LS(BSLH), RH1 LM1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_pipe, &kp LS(PIPE), RH1 LM0 LT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_under, &kp LS(UNDER), RH1 RM0 RT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_minus, &kp LS(MINUS), RH1 RM1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_equal, &kp LS(EQUAL), RH1 RM2 RT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_plus, &kp LS(PLUS), RH1 RM3 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_slash, &kp LS(SLASH), RH1 RM0 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_rbrc, &kp LS(RBRC), RH1 LT2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_rbkt, &kp LS(RBKT), RH1 LM2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lbrc, &kp LS(LBRC), RH1 LT2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lbkt, &kp LS(LBKT), RH1 LM2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lpar, &kp LS(LPAR), RH1 RT2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lt, &kp LS(LT), RH1 RM2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_rpar, &kp LS(RPAR), RH1 RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_gt, &kp LS(GT), RH1 RM2 RB3, ALL, COMBO_TERM_FAST)

// ****************************************************************************
// cmd combos
// ****************************************************************************

ZMK_COMBO(s_a, &kp LS(A), RH1 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_b, &kp LS(B), RH1 LT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_c, &kp LS(C), RH1 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_d, &kp LS(D), RH1 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_e, &kp LS(E), RH1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f, &kp LS(F), RH1 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_g, &kp LS(G), RH1 LM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_h, &kp LS(H), RH1 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_i, &kp LS(I), RH1 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_j, &kp LS(J), RH1 RT0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_k, &kp LS(K), RH1 RB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_l, &kp LS(L), RH1 RT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_m, &kp LS(M), RH1 RM0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_n, &kp LS(N), RH1 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_o, &kp LS(O), RH1 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_p, &kp LS(P), RH1 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_q, &kp LS(Q), RH1 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_r, &kp LS(R), RH1 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_s, &kp LS(S), RH1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_t, &kp LS(T), RH1 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_u, &kp LS(U), RH1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_v, &kp LS(V), RH1 LB0, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_w, &kp LS(W), RH1 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_x, &kp LS(X), RH1 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_y, &kp LS(Y), RH1 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_z, &kp LS(Z), RH1 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_enter, &kp LS(ENTER), RH1 LM1 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_tab, &kp LS(TAB), RH1 LT2 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_esc, &kp LS(ESC), RH1 LM2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_space, &kp LS(SPACE), RH1 LT3 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_bspc, &kp LS(BSPC), RH1 RT3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_up, &kp LS(UP), RH1 RT2 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_down, &kp LS(DOWN), RH1 RM2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_left, &kp LS(LEFT), RH1 RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_right, &kp LS(RIGHT), RH1 RM3 RM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_home, &kp LS(HOME), RH1 RT1 RT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_end, &kp LS(END), RH1 RB1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_pg_up, &kp LS(PG_UP), RH1 RT4 RT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_pg_dn, &kp LS(PG_DN), RH1 RB4 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_0, &kp LS(N0), RH1 RM5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_1, &kp LS(N1), RH1 RM5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_2, &kp LS(N2), RH1 RM5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_3, &kp LS(N3), RH1 RM5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_4, &kp LS(N4), RH1 RM5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_5, &kp LS(N5), RH1 RM5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_6, &kp LS(N6), RH1 RM5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_7, &kp LS(N7), RH1 RM5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_8, &kp LS(N8), RH1 RM5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_9, &kp LS(N9), RH1 RM5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f1, &kp LS(F1), RH1 RB5 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f2, &kp LS(F2), RH1 RB5 LB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f3, &kp LS(F3), RH1 RB5 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f4, &kp LS(F4), RH1 RB5 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f5, &kp LS(F5), RH1 RB5 LM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f6, &kp LS(F6), RH1 RB5 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f7, &kp LS(F7), RH1 RB5 LT3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f8, &kp LS(F8), RH1 RB5 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f9, &kp LS(F9), RH1 RB5 LT1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f10, &kp LS(F10), RH1 RB5 LB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f11, &kp LS(F11), RH1 RB5 LM4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_f12, &kp LS(F12), RH1 RB5 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_semicolon, &kp LS(SEMICOLON), RH1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_colon, &kp LS(COLON), RH1 RB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_excl, &kp LS(EXCL), RH1 RB4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_dqt, &kp LS(EXCL), RH1 RT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_at, &kp LS(AT), RH1 LB3 LM3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_hash, &kp LS(HASH), RH1 LB2 LM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_dllr, &kp LS(DLLR), RH1 LB1 LM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_prcnt, &kp LS(PRCNT), RH1 LB0 LM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_caret, &kp LS(CARET), RH1 RB0 RM0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_amps, &kp LS(AMPS), RH1 RB1 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_star, &kp LS(STAR), RH1 RB2 RM2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_tilde, &kp LS(TILDE), RH1 LM3 LT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_grave, &kp LS(GRAVE), RH1 LM2 LT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_bslh, &kp LS(BSLH), RH1 LM1 LT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_pipe, &kp LS(PIPE), RH1 LM0 LT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_under, &kp LS(UNDER), RH1 RM0 RT0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_minus, &kp LS(MINUS), RH1 RM1 RT1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_equal, &kp LS(EQUAL), RH1 RM2 RT2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_plus, &kp LS(PLUS), RH1 RM3 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_slash, &kp LS(SLASH), RH1 RM0 RM1, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(s_rbrc, &kp LS(RBRC), RH1 LT2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_rbkt, &kp LS(RBKT), RH1 LM2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lbrc, &kp LS(LBRC), RH1 LT2 LM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lbkt, &kp LS(LBKT), RH1 LM2 LB3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lpar, &kp LS(LPAR), RH1 RT2 RM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_lt, &kp LS(LT), RH1 RM2 RB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_rpar, &kp LS(RPAR), RH1 RT2 RM3, ALL, COMBO_TERM_FAST)
ZMK_COMBO(s_gt, &kp LS(GT), RH1 RM2 RB3, ALL, COMBO_TERM_FAST)

/* vim: set ft=c tw=174RH1 : */
