#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500 // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30 // 10

#define ___ &trans

#define L_SYM 1
#define L_NAV 2
#define L_NUM 3
#define L_MOUSE 4

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    combos {
        compatible = "zmk,combos";

        combo_mouse {
            key-positions = <31 33>;
            bindings = <&mo L_MOUSE>;
            timeout-ms = <40>;
            slow-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            bindings = <
&kp Q               &kp W               &kp F               &kp P               &kp B               &kp J               &kp L               &kp U               &kp Y               &kp SQT
&kp A               &kp R               &kp S               &kp T               &kp G               &kp M               &kp N               &kp E               &kp I               &kp O
&kp Z               &kp X               &kp C               &kp D               &kp V               &kp K               &kp H               &kp COMMA           &kp DOT             &kp FSLH
                                        ___                 &mo L_NAV           &kp SPACE           &kp LSHIFT          &mo L_SYM           ___
            >;
        };

        sym {
            bindings = <
___                 &kp MINUS           &kp PLUS            &kp STAR            &kp TILDE           &kp GRAVE           &kp AMPS            &kp CARET           &kp DLLR            &kp PIPE
&kp EQUAL           &kp LBKT            &kp LBRC            &kp LPAR            &kp EXCL            &kp PRCNT           &sk LSHIFT          &sk LGUI            &sk LCTRL           &sk LALT
___                 &kp RBKT            &kp RBRC            &kp RPAR            &kp HASH            &kp AT              &kp UNDER           &kp COLON           &kp SEMI            &kp BSLH
                                        ___                 &mo L_NUM           ___                 ___                 ___                 ___
            >;
        };

        nav {
            bindings = <
___                 &kp ESC             &kp TAB             &kp LS(TAB)         ___                 ___                 &kp LA(BSPC)        &kp BSPC            &kp RET             ___
&sk LALT            &sk LGUI            &sk LCTRL           &sk LSHIFT          ___                 &kp LEFT            &kp DOWN            &kp UP              &kp RIGHT           &kp DEL
___                 ___                 ___                 ___                 ___                 &kp HOME            &kp PG_DN           &kp PG_UP           &kp END             ___
                                        ___                 ___                 ___                 ___                 &mo L_NUM           ___
            >;
        };

        num {
            bindings = <
&kp N1              &kp N2              &kp N3              &kp N4              &kp N5              &kp N6              &kp N7              &kp N8              &kp N9              &kp N0
&sk LALT            &sk LGUI            &sk LCTRL           &sk LSHIFT          &kp F11             &kp F12             &sk LSHIFT          &sk LGUI            &sk LCTRL           &sk LALT
&kp F1              &kp F2              &kp F3              &kp F4              &kp F5              &kp F6              &kp F7              &kp F8              &kp F9              &kp F10
                                        ___                 ___                 ___                 ___                 ___                 ___
            >;
        };

        mouse {
            bindings = <
&bt BT_PRV          ___                 &mmv MOVE_UP        ___                 &kp C_BRI_UP        &kp C_PREV          &kp C_VOL_DN        &kp C_VOL_UP        &kp C_NEXT          &kp C_PP
&bt BT_NXT          &mmv MOVE_LEFT      &mmv MOVE_DOWN      &mmv MOVE_RIGHT     &kp C_BRI_DN        &kp C_MUTE          &sk LSHIFT          &sk LGUI            &sk LCTRL           &sk LALT
&bt BT_CLR          &msc SCRL_LEFT      &msc SCRL_UP        &msc SCRL_DOWN      &msc SCRL_RIGHT     &mkp MB4            &mkp LCLK           &mkp RCLK           &mkp MCLK           &mkp MB5
                                        ___                 ___                 ___                 ___                 ___                 ___
            >;
        };


    };
};
