#define ___ &trans

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    combos {
        compatible = "zmk,combos";
        combo_bluetooth {
            timeout-ms = <50>;
            key-positions = <20 21 22 23>;
            bindings = <&mo 2>;
            require-prior-idle-ms = <1000>;
        };
        combo_kanata {
            timeout-ms = <50>;
            key-positions = <26 27 28 29>;
            bindings = <&tog 1>;
            require-prior-idle-ms = <1000>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        kanata {
            bindings = <
&kp Q               &kp W               &kp E               &kp R               &kp T               &kp U               &kp I               &kp O               &kp P               &kp LBKT
&kp A               &kp S               &kp D               &kp F               &kp G               &kp J               &kp K               &kp L               &kp SEMI            &kp SQT
&kp LSFT            &kp Z               &kp X               &kp C               &kp V               &kp M               &kp COMMA           &kp DOT             &kp FSLH            &kp RSFT
                                        ___                 &kp SPACE           &kp LGUI            &kp RALT            &kp RGUI            ___
            >;
        };

        colemak {
            bindings = <
&kp Q               &kp W               &kp F               &kp P               &kp B               &kp J               &kp L               &kp U               &kp Y               &kp SQT
&kp A               &kp R               &kp S               &kp T               &kp G               &kp M               &kp N               &kp E               &kp I               &kp O
&kp Z               &kp X               &kp C               &kp D               &kp V               &kp K               &kp H               &kp COMMA           &kp DOT             &kp FSLH
                                        ___                 &kp SPACE           &kp ESC             &kp RET             &kp BSPC            ___
            >;
        };

        bluetooth {
            bindings = <
___                 ___                 ___                 ___                 ___                 ___                 ___                 ___                 ___                 ___
___                 ___                 ___                 ___                 ___                 ___                 &bt BT_NXT          &bt BT_PRV          ___                 ___
___                 ___                 ___                 ___                 ___                 ___                 ___                 ___                 ___                 &bt BT_CLR
                                        ___                 ___                 ___                 ___                 ___                 ___
            >;
        };
    };
};
