#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500 // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30 // 10

#define ___ &trans

#define L_NN 1
#define L_SYM 2
#define L_FUN 3
#define L_MOUSE 4

#define CK_COMBO_TIMEOUT 35
#define CK_PRIOR_IDLE 125
#define CK_TAPPING_TERM 200
#define CK_QUICK_TAP 200

#define CK_LEFT_HAND_KEYS 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32
#define CK_RIGHT_HAND_KEYS 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        tl: thumb_layer {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <CK_TAPPING_TERM>;
            quick-tap-ms = <CK_QUICK_TAP>;
        };

        // tm: thumb_mod {
        //     compatible = "zmk,behavior-hold-tap";
        //     flavor = "balanced";
        //     bindings = <&kp>, <&kp>;
        //     #binding-cells = <2>;
        //     tapping-term-ms = <CK_TAPPING_TERM>;
        //     quick-tap-ms = <CK_QUICK_TAP>;
        // };

        lm: left_mod {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <CK_TAPPING_TERM>;
            quick-tap-ms = <CK_QUICK_TAP>;
            require-prior-idle-ms = <CK_PRIOR_IDLE>;
            hold-trigger-key-positions = <CK_RIGHT_HAND_KEYS>;
            hold-trigger-on-release;
        };

        rm: right_mod {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <CK_TAPPING_TERM>;
            quick-tap-ms = <CK_QUICK_TAP>;
            require-prior-idle-ms = <CK_PRIOR_IDLE>;
            hold-trigger-key-positions = <CK_LEFT_HAND_KEYS>;
            hold-trigger-on-release;
        };

        lm_fast: left_mod_fast {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <CK_TAPPING_TERM>;
            hold-trigger-key-positions = <CK_RIGHT_HAND_KEYS>;
            hold-trigger-on-release;
        };

        rm_fast: right_mod_fast {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <CK_TAPPING_TERM>;
            hold-trigger-key-positions = <CK_LEFT_HAND_KEYS>;
            hold-trigger-on-release;
        };

        ll_fast: left_layer_fast {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <CK_TAPPING_TERM>;
            hold-trigger-key-positions = <CK_RIGHT_HAND_KEYS>;
            hold-trigger-on-release;
        };

        rl_fast: right_layer_fast {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <CK_TAPPING_TERM>;
            hold-trigger-key-positions = <CK_LEFT_HAND_KEYS>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            bindings = <
&kp Q               &kp W               &kp F               &kp P               &kp B               &kp J               &kp L               &kp U               &kp Y               &kp SQT
&kp A               &kp R               &ll_fast L_SYM S    &kp T               &kp G               &kp M               &kp N               &rl_fast L_SYM E    &kp I               &kp O
&lm LALT Z          &lm LCTRL X         &lm LGUI C          &lm_fast LSHIFT D   &kp V               &kp K               &rm_fast LSHIFT H   &rm LGUI COMMA      &rm LCTRL DOT       &rm LALT FSLH
                                        ___                 &tl L_NN SPACE      &tl L_FUN ESC       &tl L_MOUSE RET     &tl L_NN BSPC       ___
            >;
        };

        num_nav {
            bindings = <
___                 &kp N7              &kp N8              &kp N9              ___                 ___                 &kp LA(BSPC)        &kp LS(TAB)         &kp TAB             ___
&kp N0              &kp N4              &kp N5              &kp N6              &caps_word          &kp LEFT            &kp DOWN            &kp UP              &kp RIGHT           &kp DEL
___                 &lm LCTRL N1        &lm LGUI N2         &lm LSHIFT N3       &kp CAPS            &kp HOME            &rm LSHIFT PG_DN    &rm LGUI PG_UP      &rm LCTRL END       ___
                                        ___                 ___                 ___                 ___                 ___                 ___
            >;
        };

        sym {
            bindings = <
___                 &kp CARET           &kp DLLR            &kp TILDE           ___                 ___                 &kp GRAVE           &kp LBKT            &kp RBKT            ___
&kp EQUAL           &kp HASH            &kp STAR            &kp MINUS           &kp EXCL            &kp PRCNT           &kp COLON           &kp LPAR            &kp RPAR            &kp SEMI
___                 &lm LCTRL AMPS      &lm LGUI PIPE       &lm LSHIFT PLUS     ___                 &kp AT              &rm LSHIFT UNDER    &rm LGUI LBRC       &rm LCTRL RBRC      &rm LALT BSLH
                                        ___                 ___                 ___                 ___                 ___                 ___
            >;
        };

        fun_med {
            bindings = <
&kp F12             &kp F7              &kp F8              &kp F9              &bt BT_PRV          ___                 ___                 ___                 ___                 ___
&kp F11             &kp F4              &kp F5              &kp F6              &bt BT_NXT          &kp C_PREV          &kp C_VOL_DN        &kp C_VOL_UP        &kp C_NEXT          ___
&lm LALT F10        &lm LCTRL F1        &lm LGUI F2         &lm LSHIFT F3       &bt BT_CLR          &kp C_MUTE         &rm LSHIFT C_BRI_DN &rm LGUI C_BRI_UP   &rm LCTRL C_PP      ___
                                        ___                 ___                 ___                 ___                 ___                 ___
            >;
        };

        mouse {
            bindings = <
___                 ___                 &mmv MOVE_UP        ___                 ___                 ___                 ___                 &msc SCRL_UP        ___                 ___
___                 &mmv MOVE_LEFT      &mmv MOVE_DOWN      &mmv MOVE_RIGHT     ___                 ___                 &mkp LCLK           &mkp RCLK           &mkp MCLK           ___
___                 &msc SCRL_LEFT      &msc SCRL_UP        &msc SCRL_DOWN      &msc SCRL_RIGHT     ___                 ___                 &mkp MB4            &mkp MB5            ___
                                        ___                 &mkp LCLK           &mkp RCLK           ___                 ___                 ___
            >;
        };

        empty {
            bindings = <
___                 ___                 ___                 ___                 ___                 ___                 ___                 ___                 ___                 ___
___                 ___                 ___                 ___                 ___                 ___                 ___                 ___                 ___                 ___
___                 ___                 ___                 ___                 ___                 ___                 ___                 ___                 ___                 ___
                                        ___                 ___                 ___                 ___                 ___                 ___
            >;
        };
    };
};
